<!DOCTYPE html>
<html>
<head>
    <title>Create Password</title>
    <style>
     body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f9;
        }

        h1 {
            color: #333;
            text-align: center;
        }
</style>
</head>
<body>
    <center>
    <h2>Create Password for {{ username }}</h2>
    <form method="POST" action="{{ url_for('set_password', username=username) }}"><br>
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Set Password</button><br><br>
    </form>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
  </center>
</body>
</html>
